.buttonSoma {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 5%;
  height: auto;
  padding: 5px;
}
.buttonSub {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 5%;
  height: auto;
  padding: 5px;
}
.buttonMulti {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 5%;
  height: auto;
  padding: 5px;
}
.buttonDiv {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 5%;
  height: auto;
  padding: 5px;
}

span {
  margin: auto;
  font-size: x-large;
}
